body{
    display: flex;
    align-items: center;
    background: linear-gradient(to left, #97d3d3, #2f4f4f);
}
.panel-lateral{
    width: 280px; 
    height: 650px;
    display: flex;
    color: white;
    display: flex;
    flex-direction: column;
}

hr{
    color: white;
}
li{
    padding-bottom: 8px;
    list-style: inside;
    margin-left: 50px;;
}
a{
    color: white;
    text-decoration: none;
}

.opciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#home_form{
    position: relative;
}

#comestibles_form, #gaseosa_form{
    display: none;
}