body{
    display: flex;
    align-items: center;
}
.panel-lateral{
    width: 280px; 
    height: 650px;
    display: flex;
    background: darkslategrey;
    color: white;
    display: flex;
    flex-direction: column;
}

hr{
    color: white;
}

.opciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#home_form{
    position: relative;
}

#any_form, #gaseosa_form{
    display: none;
}